.HeaderContainer {
    padding: 10px;
    text-align: center;
    background: rgb(247, 57, 57);
    color: #FFF !important;
    font-size: 17px;
    width: 100%;
    position: fixed;
    z-index: 1000;
  }
  
  .nav-nome {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none !important;
    color: #FFF;
    cursor: default;
  }
  
  /*Ver se fica mais bonito com ou sem*/
  
  .nav-nome:hover {
    color: rgba(226, 228, 228, 0.9);
  }
  
  .margem-header {
    margin-bottom: 30px;
    z-index: 1000;
  }

  /*Lembrar de inserir media query para margem-header*/